<div>
	<h2>Products</h2>
	<table>
		<tr align="left">
			<th>Name</th>
			<th>Description</th>
			<th>Category</th>
			<th></th>
			<th></th>
		</tr>
		<tr ng-repeat="item in prod.products">
			<td width="100">
				<span ng-hide="prod.selectedProduct.id === item._id">{{ item.name }}</span>
				<input type="text" ng-model="item.name" ng-show="prod.selectedProduct.id === item._id">
			</td>
			<td width="100">
				<span ng-hide="prod.selectedProduct.id === item._id">{{ item.description }}</span>
				<input type="text" ng-model="item.description" ng-show="prod.selectedProduct.id === item._id">
			</td>
			<td>
				<div ng-show="category._id === item.categoryId && prod.selectedProduct.id !== item._id" ng-repeat="category in prod.categories">{{ category.name }}</div>

			    <select ng-model="item.categoryId" ng-show="prod.selectedProduct.id === item._id">
				    <option ng-selected="{{ category._id == item.categoryId}}"
				            ng-repeat="category in prod.categories"
				            value="{{category._id}}">
				      {{category.name}}
				    </option>
				</select>
			</td>
			<td ng-hide="prod.selectedProduct.id === item._id">
				<a href="#" ng-click="prod.editProduct(item)">edit</a>
			</td>
			<td ng-show="prod.selectedProduct.id === item._id">
				<a href="#" ng-click="prod.updateProduct(item)">done editing</a>
			</td>
			<td><a href="#" ng-click="prod.destroyProduct(item)">delete</a></td>
		</tr>
	</table>
	<br>
	<form ng-submit="prod.createProduct(prod.product)" novalidate>
		Name: <br>
		<input size="30" name="name" ng-model="prod.product.name" type="text" required> <br>
		Description: <br>
		<input size="30" name="description" ng-model="prod.product.description" type="text" required> <br>
		<button>Submit</button>
	</form>
	<hr>

</div>