$lightgreen: #43C478;
$green: #26A65B;

$lightblue: #82C2ED;
$blue: #59ABE3;
$darkblue: #3c4a55;

$white: #fff;
$lightgray: #ECF0F1;
$mediumgray: #E4E9EB;
$gray: #6C7A89;
$darkgray: #333;

$lightred: #F55853;
$red: #D91E18;